.wrapper {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

#typeface {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
}
